configuration {
 modi: "drun";
 font: "JetBrainsMono Nerd Font 10";
 show-icons: false;
 drun-display-format: "{name}";
 display-drun: " ";
 timeout {
  action: "kb-cancel";
  delay: 0;
  }
 filebrowser {
  directories-first: true;
  sorting-method: "name";
  }
 }

@theme "~/.config/rofi/dwm-dmenu-vert.rasi"

listview {
  columns: 1;
  lines: 12;
  fixed-height: true;
  layout: vertical;
}
