[Desktop Entry]
Type=Application
Version=1.0
Name=bluemail
Comment=bluemailstartup script
Exec=/opt/bluemail/bluemail
StartupNotify=false
Terminal=false