[Desktop Entry]
Exec=/home/chevvy_90/Projects/Scripts/blueMail_no_GPU.sh
Icon=dialog-scripts
Name=blueMail_no_GPU.sh
Type=Application
X-KDE-AutostartScript=true
