[Desktop Action new-private-window]
Exec=/usr/lib/firefox/firefox --private-window %u
Name[en_US]=New Private Window
Name=New Private Window

[Desktop Action new-window]
Exec=/usr/lib/firefox/firefox --new-window %u
Name[en_US]=New Window
Name=New Window

[Desktop Entry]
Actions=new-window;new-private-window;
Categories=Network;WebBrowser;
Comment=Browse the World Wide Web
Exec=/usr/lib/firefox/firefox %u
GenericName=Web Browser
Icon=firefox
Keywords=Internet;WWW;Browser;Web;Explorer
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
Name=Firefox
StartupNotify=true
StartupWMClass=firefox
Terminal=false
Type=Application
Version=1.0
X-MultipleArgs=false
