[Desktop Entry]
Exec=/home/chevvy_90/.config/autostart/launch.sh.desktop
Icon=dialog-scripts
Name=launch.sh.desktop
Type=Application
X-KDE-AutostartScript=true
