[Desktop Entry]
Categories=Office;Clock;
Comment=Advanced Timeboxing Tool
Exec=pilorama
GenericName=Timer
Icon=pilorama
Name=Pilorama
Terminal=false
Type=Application
Version=1.5
