[Desktop Action ComposeMessage]
Exec=/usr/lib/thunderbird/thunderbird -compose
Name=Write new message

[Desktop Action OpenAddressBook]
Exec=/usr/lib/thunderbird/thunderbird -addressbook
Name=Open address book

[Desktop Entry]
Actions=ComposeMessage;OpenAddressBook;
Categories=Network;Email;
Comment=Send and receive mail with Thunderbird
Exec=/usr/lib/thunderbird/thunderbird %u
GenericName=Mail Client
Icon=thunderbird
MimeType=message/rfc822;x-scheme-handler/mailto;application/x-xpinstall;
Name=Thunderbird
StartupNotify=true
Terminal=false
Type=Application
