/* Credits:  */
/*     - (https://github.com/Murzchnvok/rofi-collection) */
/*     - (https://github.com/newmanls/rofi-themes-collection) */



/* @theme "~/.config/rofi/themes/launchpad/launchpad.rasi" */

/* @theme "~/.config/rofi/themes/nord/nord.rasi" */
/* @theme "~/.config/rofi/themes/nord/nord-oneline.rasi" */
/* @theme "~/.config/rofi/themes/nord/nord-twoLines.rasi" */

/* @theme "~/.config/rofi/themes/dracula/dracula.rasi" */

/* @theme "~/.config/rofi/themes/gruvbox/gruvbox.rasi" */

/* @theme "~/.config/rofi/themes/tokyonight/tokyonight.rasi" */
/* @theme "~/.config/rofi/themes/tokyonight/simple-tokyonight.rasi" */

/* @theme "~/.config/rofi/themes/material/material.rasi" */

/* @theme "~/.config/rofi/themes/minimal/minimal.rasi" */

/* @theme "~/.config/rofi/themes/murz/murz.rasi" */

/* @theme "~/.config/rofi/themes/onedark/onedark.rasi" */

/* @theme "~/.config/rofi/themes/rounded/rounded-blue-dark.rasi" */
/* @theme "~/.config/rofi/themes/rounded/rounded-gray-dark.rasi" */
/* @theme "~/.config/rofi/themes/rounded/rounded-green-dark.rasi" */
/* @theme "~/.config/rofi/themes/rounded/rounded-nord-dark.rasi" */
/* @theme "~/.config/rofi/themes/rounded/rounded-orange-dark.rasi" */
/* @theme "~/.config/rofi/themes/rounded/rounded-pink-dark.rasi" */
/* @theme "~/.config/rofi/themes/rounded/rounded-purple-dark.rasi" */
/* @theme "~/.config/rofi/themes/rounded/rounded-red-dark.rasi" */
/* @theme "~/.config/rofi/themes/rounded/rounded-yellow-dark.rasi" */

/* @theme "~/.config/rofi/themes/spotlight/spotlight-dark.rasi" */
/* @theme "~/.config/rofi/themes/spotlight/spotlight.rasi" */

/* @theme "~/.config/rofi/themes/squared/squared-everforest.rasi" */
/* @theme "~/.config/rofi/themes/squared/squared-material-red.rasi" */
/* @theme "~/.config/rofi/themes/squared/squared-nord.rasi" */

@theme "~/.config/rofi/themes/windows11/windows11-grid-dark.rasi"
/* @theme "~/.config/rofi/themes/windows11/windows11-grid-light.rasi" */
/* @theme "~/.config/rofi/themes/windows11/windows11-list-dark.rasi" */
/* @theme "~/.config/rofi/themes/windows11/windows11-list-light.rasi" */

configuration {
  show-icons:         true;
  icon-theme:         "Papirus";
}
